In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats

In [2]:
data = pd.read_csv('CandidateSummaryAction1.csv')

In [3]:
data.head()

,can_id,can_nam,can_off,can_off_sta,can_off_dis,can_par_aff,can_inc_cha_ope_sea,can_str1,can_str2,can_cit,...,cas_on_han_beg_of_per,cas_on_han_clo_of_per,net_con,net_ope_exp,deb_owe_by_com,deb_owe_to_com,cov_sta_dat,cov_end_dat,winner,votes
0,H2GA12121,"ALLEN, RICHARD W",H,GA,12.0,REP,INCUMBENT,2237 PICKENS RD,NaN,AUGUSTA,...,"$60,109.57","$175,613.35","$1,074,949.50","$907,156.21","$1,125,000.00",NaN,1/1/2015,10/19/2016,Y,158708.0
1,H6PA02171,"EVANS, DWIGHT",H,PA,2.0,DEM,CHALLENGER,PO BOX 6578,NaN,PHILADELPHIA,...,NaN,"$105,687.23","$1,406,719.06","$1,298,831.83",NaN,NaN,11/2/2015,10/19/2016,Y,310770.0
2,H6FL04105,"RUTHERFORD, JOHN",H,FL,4.0,REP,OPEN,3817 VICKERS LAKE DRIVE,NaN,JACKSONVILLE,...,NaN,"$35,645.09","$650,855.38","$656,210.29","$60,000.00",NaN,4/1/2016,10/19/2016,Y,286018.0
3,H4MT01041,"ZINKE, RYAN K",H,MT,0.0,REP,INCUMBENT,409 2ND ST W,NaN,WHITEFISH,...,"$83,815.78","$399,122.61","$4,938,943.74","$5,055,942.15",NaN,NaN,1/1/2015,10/19/2016,Y,280476.0
4,H8CA09060,"LEE, BARBARA",H,CA,13.0,DEM,INCUMBENT,"409 13TH ST, 17TH FL",NaN,OAKLAND,...,"$83,690.60","$181,338.23","$1,197,676.61","$949,488.98","$4,401.75",NaN,1/1/2015,10/19/2016,Y,277390.0

In [4]:
data.isnull().sum()

can_id                      0
can_nam                     0
can_off                     0
can_off_sta                 0
can_off_dis                 2
can_par_aff                 1
can_inc_cha_ope_sea         2
can_str1                   25
can_str2                 1692
can_cit                     1
can_sta                     8
can_zip                    25
ind_ite_con               244
ind_uni_con               276
ind_con                   198
par_com_con              1432
oth_com_con               803
can_con                  1139
tot_con                   119
tra_fro_oth_aut_com      1553
can_loa                  1174
oth_loa                  1747
tot_loa                  1161
off_to_ope_exp           1051
off_to_fun               1810
off_to_leg_acc           1813
oth_rec                  1280
tot_rec                    93
ope_exp                    97
exe_leg_acc_dis          1808
fun_dis                  1799
tra_to_oth_aut_com       1661
can_loa_rep              1520
oth_loa_rep              1781
tot_loa_rep              1508
ind_ref                   983
par_com_ref              1790
oth_com_ref              1452
tot_con_ref               942
oth_dis                  1019
tot_dis                    84
cas_on_han_beg_of_per    1114
cas_on_han_clo_of_per     380
net_con                   171
net_ope_exp               149
deb_owe_by_com           1082
deb_owe_to_com           1791
cov_sta_dat                 0
cov_end_dat                 0
winner                   1343
votes                    1435
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1814 entries, 0 to 1813
Data columns (total 51 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   can_id                 1814 non-null   object
 1   can_nam                1814 non-null   object
 2   can_off                1814 non-null   object
 3   can_off_sta            1814 non-null   object
 4   can_off_dis            1812 non-null   float64
 5   can_par_aff            1813 non-null   object
 6   can_inc_cha_ope_sea    1812 non-null   object
 7   can_str1               1789 non-null   object
 8   can_str2               122 non-null    object
 9   can_cit                1813 non-null   object
 10  can_sta                1806 non-null   object
 11  can_zip                1789 non-null   float64
 12  ind_ite_con            1570 non-null   object
 13  ind_uni_con            1538 non-null   object
 14  ind_con                1616 non-null   object
 15  par_com_con            382 non-null    object
 16  oth_com_con            1011 non-null   object
 17  can_con                675 non-null    object
 18  tot_con                1695 non-null   object
 19  tra_fro_oth_aut_com    261 non-null    object
 20  can_loa                640 non-null    object
 21  oth_loa                67 non-null     object
 22  tot_loa                653 non-null    object
 23  off_to_ope_exp         763 non-null    object
 24  off_to_fun             4 non-null      object
 25  off_to_leg_acc         1 non-null      object
 26  oth_rec                534 non-null    object
 27  tot_rec                1721 non-null   object
 28  ope_exp                1717 non-null   object
 29  exe_leg_acc_dis        6 non-null      object
 30  fun_dis                15 non-null     object
 31  tra_to_oth_aut_com     153 non-null    object
 32  can_loa_rep            294 non-null    object
 33  oth_loa_rep            33 non-null     object
 34  tot_loa_rep            306 non-null    object
 35  ind_ref                831 non-null    object
 36  par_com_ref            24 non-null     object
 37  oth_com_ref            362 non-null    object
 38  tot_con_ref            872 non-null    object
 39  oth_dis                795 non-null    object
 40  tot_dis                1730 non-null   object
 41  cas_on_han_beg_of_per  700 non-null    object
 42  cas_on_han_clo_of_per  1434 non-null   object
 43  net_con                1643 non-null   object
 44  net_ope_exp            1665 non-null   object
 45  deb_owe_by_com         732 non-null    object
 46  deb_owe_to_com         23 non-null     object
 47  cov_sta_dat            1814 non-null   object
 48  cov_end_dat            1814 non-null   object
 49  winner                 471 non-null    object
 50  votes                  379 non-null    float64
dtypes: float64(3), object(48)
memory usage: 722.9+ KB

In [6]:
summary = pd.DataFrame({'null_values': data.isnull().sum(), 'datatypes': data.dtypes})
summary = summary.reset_index()

In [7]:
summary

                    index  null_values datatypes
0                  can_id            0    object
1                 can_nam            0    object
2                 can_off            0    object
3             can_off_sta            0    object
4             can_off_dis            2   float64
5             can_par_aff            1    object
6     can_inc_cha_ope_sea            2    object
7                can_str1           25    object
8                can_str2         1692    object
9                 can_cit            1    object
10                can_sta            8    object
11                can_zip           25   float64
12            ind_ite_con          244    object
13            ind_uni_con          276    object
14                ind_con          198    object
15            par_com_con         1432    object
16            oth_com_con          803    object
17                can_con         1139    object
18                tot_con          119    object
19    tra_fro_oth_aut_com         1553    object
20                can_loa         1174    object
21                oth_loa         1747    object
22                tot_loa         1161    object
23         off_to_ope_exp         1051    object
24             off_to_fun         1810    object
25         off_to_leg_acc         1813    object
26                oth_rec         1280    object
27                tot_rec           93    object
28                ope_exp           97    object
29        exe_leg_acc_dis         1808    object
30                fun_dis         1799    object
31     tra_to_oth_aut_com         1661    object
32            can_loa_rep         1520    object
33            oth_loa_rep         1781    object
34            tot_loa_rep         1508    object
35                ind_ref          983    object
36            par_com_ref         1790    object
37            oth_com_ref         1452    object
38            tot_con_ref          942    object
39                oth_dis         1019    object
40                tot_dis           84    object
41  cas_on_han_beg_of_per         1114    object
42  cas_on_han_clo_of_per          380    object
43                net_con          171    object
44            net_ope_exp          149    object
45         deb_owe_by_com         1082    object
46         deb_owe_to_com         1791    object
47            cov_sta_dat            0    object
48            cov_end_dat            0    object
49                 winner         1343    object
50                  votes         1435   float64

In [8]:
data_info = pd.read_html('https://web.archive.org/web/20170118212350/http://www.fec.gov/finance/disclosure/metadata/metadataforcandidatesummary.shtml')

In [9]:
data_dic = data_info[2]
data_dic.columns = data_dic.iloc[0,:]

In [10]:
data_info[2]

,Tag,Field Name,Data Type,Description,Range,Explanation
0,Tag,Field Name,Data Type,Description,Range,Explanation
1,lin_ima,Link to list of reports for the committee,URI,List of all disclosure filings for this committee,NaN,Link to list of filings made directly by the c...
2,can_id,Candidate Id,Character,NaN,9 characters,First character indicates office sought - H=Ho...
3,can_nam,Candidate Name,Character,Name of candidate,Max 90 characters,NaN
4,can_off,Candidate Office,Text,office abbreviation,1 character,P=President; S=Senate; H=House
5,can_off_sta,Candidate Office State,Character,Postal abbreviation for state,2 characters,NaN
6,can_off_dis,Candidate Office District,Number,District number for House candidates,2 digits,NaN
7,can_par_aff,Candidate Party Affiliation,Character,Party abbreviation,3 characters,Dem=Democrat Rep=Republican full list of Par...
8,can_inc_cha_ope_sea,Candidate Incumbent Challenger Open Seat,Character,Incumbent or challenger or open seat indicator,10 characters,I=incumbent; C=challenger; O=open seat (where ...
9,can_str1,Candidate Street 1,Text,Street address,NaN,Provided by the candidate on a statement of ca...
10,can_str2,Candidate Street 2,Text,NaN,NaN,Generally suite number or other secondary address
11,can_cit,Candidate City,Text,City of mailing address,NaN,Note: mailing addresses are not necessarily wi...
12,can_sta,Candidate State,Text,State of mailing address,NaN,NaN
13,can_zip,Candidate Zip,Number,Zip code of mailing address,5 digits,NaN
14,ind_ite_con,Individual Itemized Contribution,Currency,Sum of itemized contributions from individuals,NaN,Contributions must be itemized (i.e. listing s...
15,ind_uni_con,Individual Unitemized Contribution,Currency,Sum of unitemized contributions from individuals,NaN,Total given to the campaign where specific inf...
16,ind_con,Individual Contribution,Currency,Total contributions from individuals,NaN,Sum of the previous two fields (i.e. ind_ite_c...
17,par_com_con,Party Committee Contribution,Currency,Contributions from party committees,NaN,These must be itemized regardless of amount
18,oth_com_con,Other Committee Contribution,Currency,Contributions from other committees,NaN,"Mostly contributions from PACs, also includes ..."
19,can_con,Candidate Contribution,Currency,Contributions from the candidate him(her)self,NaN,NaN
20,tot_con,Total Contribution,Currency,Total contributions,NaN,"Sum of the previous 4 fields (i.e. ind_con, pa..."
21,tra_fro_oth_aut_com,Transfer from other Authorized Committee,Currency,NaN,NaN,Candidates may have more than one committee wo...
22,can_loa,Candidate Loan,Currency,Loans received from the candidate,NaN,NaN
23,oth_loa,Other Loan,Currency,Other loans,NaN,"Often from banks, but must be made in the norm..."
24,tot_loa,Total Loan,Currency,NaN,NaN,Sum of the previous 2 fields (i.e. can_loa and...
25,off_to_ope_exp,Offsets to Operating Expenditure,Currency,NaN,NaN,"e.g. refund of deposit for phone bank, etc."
26,off_to_fun,Offsets to Fundraising,Currency,NaN,NaN,Applies only for Presidential candidates recei...
27,off_to_leg_acc,Offsets to Legal Accounting,Currency,NaN,NaN,Applies only for Presidential candidates recei...
28,oth_rec,Other Receipts,Currency,NaN,NaN,"e.g. interest on bank deposits, capital gains,..."
29,tot_rec,Total Receipts,Currency,NaN,NaN,Sum of all receipt categories
30,ope_exp,Operating Expenditure,Currency,NaN,NaN,Total of normal operating expenditures. These ...
31,exe_leg_acc_dis,Exempt Legal Accounting Disbursement,Currency,NaN,NaN,Applies only for Presidential candidates recei...
32,fun_dis,Fundraising Disbursement,Currency,NaN,NaN,Applies only for Presidential candidates recei...
33,tra_to_oth_aut_com,Transfer to Other Authorized Committee,Currency,NaN,NaN,Candidates may have more than one committee wo...
34,can_loa_rep,Candidate Loan Repayment,Currency,Loan repayments to the candidate,NaN,NaN
35,oth_loa_rep,Other Loan Repayment,Currency,Loan repayments to banks or others,NaN,NaN
36,tot_loa_rep,Total Loan Repayment,Currency,NaN,NaN,Sum of the previous 2 fields (i.e. can_loa_rep...
37,ind_ref,Individual Refund,Currency,Contribution refunds made to individuals,NaN,NaN
38,par_com_ref,Party Committee Refund,Currency,Contribution refunds made to parties,NaN,NaN
39,oth_com_ref,Other Committee Refund,Currency,Contribution refunds made to other committees,NaN,Mainly PACs or other candidates
40,tot_con_ref,Total Contribution Refund,Currency,NaN,NaN,"Sum of the previous 3 fields (i.e. ind_ref, pa..."
41,oth_dis,Other Disbursement,Currency,NaN,NaN,"e.g. donations to charity, contributions to st..."
42,tot_dis,Total Disbursement,Currency,NaN,NaN,Sum of all disbursement categories
43,cas_on_han_beg_of_per,Cash on Hand Beginning of Period,Currency,NaN,NaN,Cash balance for the campaign at the start of ...
44,cas_on_han_clo_of_per,Cash on Hand Close of Period,Currency,NaN,NaN,Ending cash balance on the most recent filing
45,net_con,Net Contribution,Currency,NaN,NaN,Sum of all contributions minus any contributio...
46,net_ope_exp,Net Operating Expenditure,Currency,NaN,NaN,Sum of all operating expenditures minus any of...
47,deb_owe_by_com,Debt Owed by Committee,Currency,NaN,NaN,NaN
48,deb_owe_to_com,Debt Owed to Committee,Currency,NaN,NaN,NaN
49,cov_sta_dat,Coverage Start Date,Date,MM/DD/YYYY,NaN,Beginning date for the first report during the...
50,cov_end_dat,Coverage End Date,Date,MM/DD/YYYY,NaN,Ending date of the most recent report

In [11]:
data_dic.columns

Index(['Tag', 'Field Name', 'Data Type', 'Description', 'Range',
       'Explanation'],
      dtype='object', name=0)

In [12]:
data_dic = data_dic.drop([0, 1], axis = 0)
data_dic = data_dic.reset_index(drop=True)
data_dic.head()

,Tag,Field Name,Data Type,Description,Range,Explanation
0,can_id,Candidate Id,Character,NaN,9 characters,First character indicates office sought - H=Ho...
1,can_nam,Candidate Name,Character,Name of candidate,Max 90 characters,NaN
2,can_off,Candidate Office,Text,office abbreviation,1 character,P=President; S=Senate; H=House
3,can_off_sta,Candidate Office State,Character,Postal abbreviation for state,2 characters,NaN
4,can_off_dis,Candidate Office District,Number,District number for House candidates,2 digits,NaN

In [13]:
data_dic.to_csv('data_dic.csv')

In [14]:
frame = [['winner', 0, 'object',0,0,0], ['votes', 0,'float',0,0,0]]

In [15]:
frame

[['winner', 0, 'object', 0, 0, 0], ['votes', 0, 'float', 0, 0, 0]]

In [16]:
winners_votes = pd.DataFrame(frame, columns=data_dic.columns, index = [49, 50])

In [17]:
winners_votes

0      Tag  Field Name Data Type  Description  Range  Explanation
49  winner           0    object            0      0            0
50   votes           0     float            0      0            0

In [18]:
data_dic = pd.concat([data_dic, winners_votes], axis = 0)
data_dic.head()

,Tag,Field Name,Data Type,Description,Range,Explanation
0,can_id,Candidate Id,Character,NaN,9 characters,First character indicates office sought - H=Ho...
1,can_nam,Candidate Name,Character,Name of candidate,Max 90 characters,NaN
2,can_off,Candidate Office,Text,office abbreviation,1 character,P=President; S=Senate; H=House
3,can_off_sta,Candidate Office State,Character,Postal abbreviation for state,2 characters,NaN
4,can_off_dis,Candidate Office District,Number,District number for House candidates,2 digits,NaN

In [19]:
summary['correct_dtypes'] = data_dic['Data Type']

In [20]:
curr_col = summary[summary['correct_dtypes']=='Currency']['index'].to_list()

In [21]:
curr_col

['ind_ite_con',
 'ind_uni_con',
 'ind_con',
 'par_com_con',
 'oth_com_con',
 'can_con',
 'tot_con',
 'tra_fro_oth_aut_com',
 'can_loa',
 'oth_loa',
 'tot_loa',
 'off_to_ope_exp',
 'off_to_fun',
 'off_to_leg_acc',
 'oth_rec',
 'tot_rec',
 'ope_exp',
 'exe_leg_acc_dis',
 'fun_dis',
 'tra_to_oth_aut_com',
 'can_loa_rep',
 'oth_loa_rep',
 'tot_loa_rep',
 'ind_ref',
 'par_com_ref',
 'oth_com_ref',
 'tot_con_ref',
 'oth_dis',
 'tot_dis',
 'cas_on_han_beg_of_per',
 'cas_on_han_clo_of_per',
 'net_con',
 'net_ope_exp',
 'deb_owe_by_com',
 'deb_owe_to_com']

In [23]:
import re

for i in data['ind_ite_con'][]:
   print(type(data['ind_ite_con'][i]))
#col = data['ind_ite_con']
#col

SyntaxError: invalid syntax (<ipython-input-23-6baa41b23b53>, line 3)

In [24]:

data['ind_ite_con'][2]

'$529,030.38 '

In [26]:
spl = data['ind_ite_con'][2]
if type(spl) == str:
    l = []
    for string in re.split('', data['ind_ite_con'][2]):
        if string.isdigit():
            pass
        else:
            l.append(string)
            print(l)
    l.remove('.')
    split_criterion = '[' + ''.join(list(set(l))) + ']'
    output = ''.join(re.split(split_criterion, data['ind_ite_con'][2])
    
    
# print(float(output))

SyntaxError: invalid syntax (<ipython-input-26-1bafcdfdfd95>, line 15)